
<!doctype html>
<html class="no-js" lang="pt-br">
  <%= render 'layouts/includes/head_devise' %>

  <body class="devise__body">
    <%= render 'layouts/includes/alerts' %>

  	<section class="container">
  		<h1 class="devise__logo"><%= image_tag('admin/w3case.png') %></h1>

			<div class="devise__content">
	  		<h2 class="devise__title">Esqueceu sua senha?</h2>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

				  <div class="devise__field">
				  	<%= f.label :email, 'E-mail' %>
				  	<%= f.email_field :email, autofocus: true, required: true %>
				  </div>

				  <div class="devise__submit">
				  	<%= f.submit 'Enviar pedido', class: 'devise__btn' %>
				  </div>
				<% end %>
			</div>

			<div class="devise__links">
				<%= render 'devise/shared/links' %>
			</div>
		</section>
  </body>
</html>

<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
