<div id="wrapper">

<%= render 'layouts/menu' %>
<div id="page-content-wrapper">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<%= form_for @evaluation do |f| %>
<% @categories.each do |category| %>
<h2><%=category.description%></h2>
<% category.questions.each do |question|%>
<%if question.type_question == "accessibility" %>
<div id="box-acessibilidade" class="col-lg-6 esquerda">
<h4><%=question.enunciation %></h4>
<% question.alternatives.each do |alternative|%>
<div class="ajuste">
<%= radio_button_tag "question[#{question.id.to_s}]",
alternative.id %> <%= alternative.description%>
</div>
<%end%>
</div>
<%end%>
<%if question.type_question == "usability" %>
<div id="box-acessibilidade" class="col-lg-6 direita">
<h4><%=question.enunciation %></h4>
<% question.alternatives.each do |alternative|%>
<div class="ajuste">
<%= radio_button_tag "question[#{question.id.to_s}]",
alternative.id %> <%= alternative.description%>
</div>
<%end%>
</div>
<%end%>
<%end%>
<%end%>
<div id="painel" class="col-lg-12  clearfix">
<div class="painel">
<%= f.hidden_field :device_id, value: params[:device]    %>
<%= f.submit "Avaliar" ,  class:"btn btn-success btn-large btn-medio"%>
<%= f.button "Cancelar", class:"btn btn-large btn-grande btn-cancelar" %>
</div>
</div>
<% end %>
</div>
</div>
</div>
</div>
</div>
