<link href="../../assets/stylesheets/simple-sidebar.css" rel="stylesheet">

<% test  = search_score_diagnostic_acessibilidade %>
<% total = eval_spec(@device, test) %>
<div id="wrapper">
  <%= render 'layouts/includes/menu' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% if current_user.present? %>
          <h1 id ="texto-titulo" class="centraliza">Relatório </h1>
          <% end %>
          <div id="divPBaixo"class="coluna-4 clearfix">
            <div id="image-device">
              <%= image_tag @device.phone_img_url(:thumb) %>
            </div>
            <div class="container-ficha-tecnica">
              <p id="name-device" class="centraliza"><%= @device.model_device%> </p>
              <p id="name-device" class="centraliza"><%= @device.mark.name%> </p>
              <p id="name-device" class="centraliza"><%= @device.processor%> </p>
              <p id="name-device" class="centraliza"><%= @device.os%> </p>
              <p id="name-device" class="centraliza"><%= @device.size_device%> </p>
              <p id="name-device" class="centraliza"><%= @device.type_device%> </p>
            </div>

            <div class="poll">
            <h1 class="aside__title"> Pontuação Acessibilidade </h1>
              <p class="poll__info">
                Esse dispositivo obteve <strong><%= @device.cont_eval %> avaliações</strong>

            <ol class="poll__list">
                <li class="poll__answer">
                <span class="poll__label" for=""><%= test.name %></span>
                <div class="poll__percentage" style="min-width: <%= @device.percent_of_evaluation(total) %>;"><%= @device.percent_of_evaluation(total)%></div>
              </li>
              <li class="poll__answer">
              <span class="poll__label" for=""><%= test.name %></span>
              <div class="poll__percentage" style="min-width: <%= @device.percent_of_evaluation(total) %>;"><%= @device.percent_of_evaluation(total)%></div>
            </li>
            </ol>

            <div class="poll">
            <h1 class="aside__title"> Pontuação Usabilidade </h1>
              <p class="poll__info">
                Esse dispositivo obteve <strong><%= @device.cont_eval %> avaliações</strong>

            <ol class="poll__list">
                <li class="poll__answer">
                <span class="poll__label" for=""><%= test.name %></span>
                <div class="poll__percentage" style="min-width: <%= @device.percent_of_evaluation(total) %>;"><%= @device.percent_of_evaluation(total)%></div>
              </li>
              <li class="poll__answer">
              <span class="poll__label" for=""><%= test.name %></span>
              <div class="poll__percentage" style="min-width: <%= @device.percent_of_evaluation(total) %>;"><%= @device.percent_of_evaluation(total)%></div>
            </li>
            </ol>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
